@import url('https://unpkg.com/geist@latest/style.css');

body {
    font-family: 'Geist', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.1px;
    padding: 40px 0px 0px 0px;
    margin: 0px 24px;
    color: rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    animation: fadein 2s;
}

/* FONT STYLES */

h1 {
    font-size: 3.052rem;
    font-weight: 600;
    line-height: 52px; 
    margin: 40px 0px 16px 0px;
    color: rgba(0, 0, 0, 0.92);
}

h2 {    
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 26px; 
    margin: 0px 0px 24px 0px;
    color: rgba(0, 0, 0, 0.92);
    text-wrap: balance;
}

h3 {
    font-size: 1.953rem;
    font-weight: 600;
    line-height: 36px; 
    margin: 0px 0px 16px 0px;
    color: rgba(0, 0, 0, 0.92);
}

h4 {
    font-size: 1.563rem;
    font-weight: 400;
    line-height: 32px; 
    margin: 0px 0px 40px 0px;
    text-wrap: balance;
    color: rgba(0, 0, 0, 0.54);
}

h5 {
    font-family: 'Geist Mono', monospace;
    font-weight: 400;
    font-style: normal;
    text-wrap: balance;
    margin: 0px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}

p {   
    font-family: 'Geist', sans-serif;
    font-weight: 400;
    text-wrap: balance;
    margin: 0px;
    color: rgba(0, 0, 0, 0.54);
}

a {
    color: #2F60F4;
    font-family: 'Geist', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    height: auto; 
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 7px 6px 5px 10px;
    border-radius: 6px;
}

a:hover {
    color: #154ccc;
    font-weight: 500;
    color: #154ccc;
    font-weight: 500;
    background-color: #164cca17;
    transition: 0.3s ease;
}

span:hover {
    text-decoration: none;
}

a.smaller {
    font-size: 16px;
}

span.lock {
    font-size: 16px;
    line-height: 21px;
}

/* GENERAL STYLES */

section {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.row-1 {
    display: flex;
    flex-direction: column;
}

.description {
    padding-top: 16px;
    margin-bottom: 32px;
}

.hide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.00);  
    padding: 0px 0px 40px 0px;
    border-radius: 18px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.bottom {
    padding: 28px 24px 24px;
}

.profile-pic {
    width: 144px;
    height: 144px;
    border-radius: 400px;
    box-shadow: 0px 1.4945px 3.62304px 0px rgba(0, 0, 0, 0.02), 0px 4.13211px 10.01724px 0px rgba(0, 0, 0, 0.04), 0px 9.94853px 24.11766px 0px rgba(0, 0, 0, 0.05), 0px 33px 80px 0px rgba(0, 0, 0, 0.07);
} 

.outlinks {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 12px;
    margin-left: -9px;
}


/* WORK CARD CONTENT */

.work-content {
    width: auto;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 28px 24px 24px;
}

.work-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: auto;
    min-height: 544px;
    margin-bottom: 24px;
    transition: transform .4s, filter 1s ease-in-out;
}

.work-image {
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 18px;
    box-shadow: none
}

.work-image-container {
    display: flex;
}

.icon {
    margin-bottom: 32px;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    box-shadow: none;
}

.card {
    background-color: rgba(0, 0, 0, 0.04);  
    border-radius: 18px;
}

.deliveroo {
    background-color: #d2fcf9;
}

.work-card:hover {
    transform: scale(1.019);
} 

/* PROJECT CARD */

.project-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 28px;
    padding: 24px 24px 16px 24px;
    width: auto;
    transition: transform .4s, filter 1s ease-in-out;
}

.project-card:hover {
    transform: scale(1.03);
} 

/* CONTACT */

.contact {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call {
    box-shadow: none;
    margin-bottom: 32px;
}

.center {
    text-align: center;
    max-width: 600px;
    margin-bottom: 16px;
}


/* FOOTER */

.footer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0px;
}

.footnote {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.40);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background: rgba(77, 81, 83, 0.94);
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    border-radius: 6px;
    padding: 4px 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the text */
    left: 50%;
    opacity: 0;
    transform: translateX(-50%); /* Center horizontally */
    transition: opacity 0.3s, width 0.3s; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.three-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-item {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .three-cards {
        flex-direction: row;
        justify-content: space-between;
    }
    .card-item {
        width: 30%;
    }
}



/* RESPONSIVE STYLES */

  @media screen and (min-width:701px) and (max-width: 1024px) {

    /* FONTS */

    body {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        padding: 40px 0px 0px 0px;
        margin: 0px 40px;
    }
    
    h2 {    
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 36px; 
        margin: 0px 0px 24px 0px;
        color: rgba(0, 0, 0, 0.92);
        text-wrap: balance;
    }

    h3 {
        font-size: 2.441rem;
        font-weight: 600;
        line-height: 48px; 
        margin: 0px 0px 16px 0px;
        color: rgba(0, 0, 0, 0.92);
    }

    h5 {
        font-size: 20px;
    }

    .outlinks {
        flex-direction: column;
        gap: 0px;
        margin-left: -9px;
    }

    a.smaller {
        font-size: 20px;
    }

    span.lock {
        font-size: 22px;
        line-height: 19px;
    }

    .center {
        margin-bottom: 16px;
    }

    a:last-child {
        margin-top: 24px;
    }

    section {
        margin-bottom: 32px;
    }

    .row-1 {
        display: flex;
        flex-direction: row;
        gap: 0px;
    }

    .hide {
        padding: 52px 56px;
        min-width: 30%;
    }

    .bottom {
        padding: 52px 56px;
        max-width: 45%;
    }

    /* WORK CARD STYLES */

    .work-card {
        margin-bottom: 32px;
    }

    .work-content {
        padding: 44px 48px;;
    }

    /* PROJECT CARD STYLES */

    .project-card {
        padding: 32px 32px 24px;
    }

    /* FOOTER  */

    .footnote {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.40);
    }
    
  }
  
  @media screen and (min-width: 1025px) {

    /* GENERAL STYLES */

    body {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        padding: 60px 0px 0px 0px;
        margin: 0px 60px;
    }

    h2 {    
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 36px; 
        margin: 0px 0px 24px 0px;
        color: rgba(0, 0, 0, 0.92);
        text-wrap: balance;
    }

    h3 {
        font-size: 2.441rem;
        font-weight: 600;
        line-height: 48px; 
        margin: 0px 0px 16px 0px;
        color: rgba(0, 0, 0, 0.92);
    }

    h5 {
        font-size: 20px;
        line-height: 36px;
    }

    a.smaller {
        font-size: 20px;
    }

    span.lock {
        font-size: 22px;
        line-height: 19px;
    }

    .center {
        margin-bottom: 24px;
    }

    .profile-pic {
        width: 160px;
        height: 160px;
        border-radius: 600px;
    }

    .row-1 {
        display: flex;
        flex-direction: row;
        gap: 0px;
    }

    .hide {
        padding: 52px 56px;
        min-width: 30%;
    }

    .bottom {
        padding: 52px 56px;
        max-width: 45%;
    }

    .card {
        border-radius: 28px;
    }

    section {
        margin-bottom: 32px;
    }

    /* WORK CARD STYLES */

    .work-card {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        margin-bottom: 32px;
    }

    .work-content {
        padding: 68px 0px 68px 64px;
    }

    .work-image {
        width: auto;
        max-width: 100%;
        height: auto;
        overflow: hidden;
    }

    .work-image-container {
        align-items: end;
        max-width: 60%;
    }
    
    .footer {
        padding: 64px 0px;
    }

    .contact {
        padding: 60px;
    }

    /* PROJECT CARD STYLES */

    .project-card {
        padding: 32px 32px 24px;
        width: 100%;
    }

    /* FOOTER  */

    .footnote {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.40);
    }

  }

  @media screen and (min-width: 1560px) {
    
    body {
        max-width: 1440px;
        margin: auto;
    }

  }

.bottom-blur-overlay {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 50px; 
pointer-events: none;
opacity: 50%;
background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}




